<link rel="import" href="../polymer/polymer.html">

<!--
`database-admin`


@demo demo/index.html 
-->

<dom-module id="database-admin">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    Polymer({

      is: 'database-admin',

      properties: {
        prop1: {
          type: String,
          value: 'database-admin',
        },
      },

    });
  </script>
</dom-module>
